.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: $primary;
    color: $gainsboro-white;
    font-size: 1rem;
    font-weight: 500;    
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-small{
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.button-big {
    padding: 0.75rem 1.75rem;
    font-weight: bold;
}

.button-normal {
    padding: 0.5rem 1rem;
}