$primary: #000;
$secondary: #262626;

$burnt-orange: #B65C2D;
$deep-saffron: #FA9F42;
$liver-chestnut: #937052;
$indigo-dye: #2B4162;
$midnight-green: #234D5E;
$eagle-green: #136354;
$bottle-green: #0B6E4F;
$gainsboro-white: #E0E0E2;
$gainsboro-grey: #E3E3E5;